@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  background-color: white;
  padding-left: 20px;
}
/* ======================== CSs  
h1 {
  font-family: "Poetsen One", sans-serif;
}
body {
  background-color: lightblue;
}

h1 {
  color: navy;
}

button {
  border-radius: 10px;
}

p {
  font-size: 18px;
}

.title {
  text-align: center;
}
